<div class="mt-auto ">
    <footer class="d-flex align-items-center p-1">
        <div class="d-flex justify-content-between w-100 pl-1 pr-1">
            <div class="">{{ app_owner }}</div>
            <div class="">&copy; {{ app_copyright }}</div>
        </div>
    </footer>
</div>
